/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* VARIABLES CSS */
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/* COLORS */
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/* FONTS */
:root{
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* MARGINS */
:root{
  --mb-2: 1rem;
}

/* BASE */
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: (245,245,245);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: .3s;
}
img:hover{
  transform: scale(1.1);
  transition: .3s;
}

/* LAYOUT */
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* HOME SOCIAL */
.home__social{
  display: flex;
  flex-direction: row;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}

/* ABOUT */
.about__container{
  row-gap: 2rem;
  text-align: left;
  padding-top: 15%;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
  padding-bottom: 25%;
  width: 500px;
  border-radius: .5rem;
  pointer-events: none;
}

/* OBJECTS */
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .home__social{
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-2);
  }
  .about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 500px;
  }
  .wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    animation-delay: 2s;
  }
}

@keyframes wave-animation {
    0% {transform: rotate(0.0deg)}
   10% {transform: rotate(14.0deg)}
   20% {transform: rotate(-8.0deg)}
   30% {transform: rotate(14.0deg)}
   40% {transform: rotate(-4.0deg)}
   50% {transform: rotate(10.0deg)}
   60% {transform: rotate(0.0deg)}
  100% {transform: rotate(0.0deg)}
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}
