@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* VARIABLE DEFINITIONS */
:root {
  --body-font: "Poppins", sans-serif;
  --first-color: #a48779;
  --font-semi: 600;
  --h2-font-size: 1.25rem;
  --header-height: 3rem;
  --mb-2: 1rem;
  --normal-font-size: 0.938rem;
  --second-color: #0e2431;
}

/* 
COLOR ALTERNATIVES 
#699880 #16c098 
#4070F4 #b39687 
ACTIVE COLORS
#efebe7 #a48779
#dcdcdc #07b707
ACTIVE BLACK
#0e2431
*/

/* IMPORTANT DEFAULTS */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #efebe7;
  color: var(--second-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* KEY LAYOUT STYLES */
.bd-grid {
  cursor: default;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 100%;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  max-width: 1024px;
  width: calc(100% - 2rem);
}

.section {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

/* HEADER */
.header__section {
  cursor: default;
  display: block;
  width: 100%;
  position: absolute;
}

.header__wrapper {
  padding: 10px 20px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.header__text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #dcdcdc;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 14px;
  max-height: 20px;
  white-space: nowrap;
}

.header__subtext {
  display: block;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  padding: 2px 12px;
  border-radius: 14px;
}

.status__dot {
  color: #07b707;
  margin-right: 4px;
  font-size: 16px;
}

/* LINKS */
.home__social {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.home__social-icon {
  color: var(--second-color);
  font-size: 2rem;
  margin-bottom: var(--mb-2);
  margin-right: var(--mb-2);
  width: max-content;
}

.home__social-icon:hover {
  color: var(--first-color);
}

/* TEXT SECTION */
.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: initial;
  text-align: left;
}

.about__main {
  border-left: solid 2px var(--second-color);
  padding-left: 20px;
  padding-bottom: 20px;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

/* IMAGE SECTION */
.about__img {
  justify-self: center;
  padding-bottom: 10%;
  pointer-events: none;
}

.about__img img {
  object-fit: cover;
  border-radius: 82px;
  border: solid 4px var(--second-color);
  max-height: 80vh;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about__container {
    display: flex;
    flex-direction: column;
  }
  .about__main {
    border-left: none;
    width: 75%;
  }
  .about__img {
    padding-bottom: 20px;
    max-width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
