@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --first-color: #4070F4;
  --second-color: #0E2431;
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --mb-2: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  visibility: hidden;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.home__social {
  display: flex;
  flex-direction: row;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  margin-right: 5px;
  font-size: 2rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.about__container {
  text-align: left;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
  padding-bottom: 10%;
  border-radius: .5rem;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .about__main {padding: 0 5%;}
}

@media screen and (min-width: 768px) {
  :root {
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    padding-top: 20%;
  }
  .about__img {
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home__social {
    padding-bottom: 1rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-2);
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about__img img {
    width: 500px;
  }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    animation-delay: 2s;
}

@keyframes wave-animation {
  0% {transform: rotate(0.0deg)}
  10% {transform: rotate(14.0deg)}
  20% {transform: rotate(-8.0deg)}
  30% {transform: rotate(14.0deg)}
  40% {transform: rotate(-4.0deg)}
  50% {transform: rotate(10.0deg)}
  60% {transform: rotate(0.0deg)}
  100% {transform: rotate(0.0deg)}
}
